libpioneers_server.a
libpioneersclient.a
libpioneers.a
libpioneers_gtk.a
pioneers-server-console
pioneersai
pioneers-editor
pioneers-server-gtk
pioneers-metaserver
pioneers
pioneers-server-console.exe
pioneersai.exe
pioneers-editor.exe
pioneers-server-gtk.exe
pioneers-metaserver.exe
pioneers.exe
depcomp
config.h
config.h.in
ltmain.sh
libtool
configure
config.log
compile
config.guess
config.status
config.sub
Makefile
Makefile.in
INSTALL
.libs
mkinstalldirs
stamp-h1
autom4te.cache
acinclude.m4
missing
aclocal.m4
install-sh
pioneers.spec
pioneers.nsi
intltool-extract
intltool-extract.in
intltool-update
intltool-update.in
intltool-merge
intltool-merge.in
build-stamp
install-stamp
pioneers.xpm
pioneers-server.xpm
pioneers-editor.xpm
Doxyfile
html
m4

# Eclipse files
/.cproject
/.project
*.o
