libpioneers_server.a
libpioneersclient.a
libpioneers.a
libpioneers_gtk.a
pioneers-server-console
pioneersai
pioneers-editor
pioneers-server-gtk
pioneers-metaserver
pioneers
pioneers-server-console.exe
pioneersai.exe
pioneers-editor.exe
pioneers-server-gtk.exe
pioneers-metaserver.exe
pioneers.exe
config.h
ltmain.sh
libtool
config.log
config.status
Makefile
INSTALL
.libs
mkinstalldirs
stamp-h1
autom4te.cache
acinclude.m4
missing
aclocal.m4
pioneers.nsi
intltool-extract
intltool-extract.in
intltool-update
intltool-update.in
intltool-merge
intltool-merge.in
build-stamp
install-stamp
pioneers.xpm
pioneers-server.xpm
pioneers-editor.xpm
html


# Eclipse files
/.cproject
/.project
*.o
/build
/ogre.cfg
/*.log


*~
/vscode*
/.settings
/.vscode
/pioneers-3d
/*.desktop
