#!/bin/sh

set -e

CONFIG_FILE=/etc/default/pioneers-metaserver

. /usr/share/debconf/confmodule

# Get current values of the settings.
if [ -r "$CONFIG_FILE" ] ; then
	. "$CONFIG_FILE" || true
fi

# Parse values from the config file and use them as defaults.
db_set pioneers-metaserver/ports "$PORT_RANGE"
db_set pioneers-metaserver/name "$METASERVER_NAME"
db_set pioneers-metaserver/arguments "$METASERVER_ARGS"

# Ask the questions.
db_input low pioneers-metaserver/ports || true
db_go

db_get pioneers-metaserver/ports
if [ ! -z "$RET" ] ; then
	db_input low pioneers-metaserver/name || true
fi
db_input low pioneers-metaserver/arguments || true
db_go
